In [1]:
from estnltk import Text
from cda_data_cleaning.fact_extraction.measurement_extraction.development.taggers import SubjectTagger

In [2]:
subj_tagger = SubjectTagger()

In [3]:
t = Text('ema pikkus 5 cm')

In [4]:
subj_tagger.tag(t)

Text(text='ema pikkus 5 cm')

In [5]:
t.subject

Layer(name='subject', attributes=('grammar_symbol', 'regex_type', 'value', '_priority_'), spans=SL[AS(start=0, end=3, text:'ema')])

In [6]:
from cda_data_cleaning.fact_extraction.measurement_extraction.development.taggers.measurement_token_tagger import MeasurementTokenTagger
from cda_data_cleaning.fact_extraction.measurement_extraction.development.taggers.measurement_tagger import MeasurementTagger

In [7]:
measurement_token_tagger = MeasurementTokenTagger(output_layer = "measurement_tokens")

In [8]:
measurement_tagger = MeasurementTagger()

In [9]:
measurement_token_tagger.tag(t)

Text(text='ema pikkus 5 cm')

In [10]:
t.measurement_tokens

Layer(name='measurement_tokens', attributes=('grammar_symbol', 'unit_type', 'value', 'regex_type'), spans=SL[AS(start=0, end=3, text:'ema'),
AS(start=4, end=10, text:'pikkus'),
AS(start=11, end=12, text:'5'),
AS(start=13, end=15, text:'cm')])

In [11]:
measurement_tagger.tag(t)

Text(text='ema pikkus 5 cm')

In [12]:
t.measurements

Layer(name='measurements', attributes=('name', 'OBJECT', 'VALUE', 'UNIT', 'MIN', 'MAX', 'DATE', 'REGEX_TYPE', 'SUBJECT'), spans=SL[AS(start=0, end=15, text:'ema pikkus 5 cm')])