### Verb-verb preprocessing

This file does preprocessing for verb-verb collocations. These collocations consist of pairs of verbs that go together in sentences. For example, the pair ("tegema", "olema") appeared 78994 times in the Estonian Koondkorpus, from which the collocations were extracted. An example sentence for was "Andres: “Meil vedas, et saime sellise töö, mida **olime** varem **teinud**.", where the words forming the collocation are marked in bold.

### Imports

In [1]:
from collections import defaultdict
from data_preprocessing import fetch_entries, connected_entries, matrix_creation

### Analysing the data

In [2]:
entries = fetch_entries(db_name='verb_verb_collocations_20211205.db', table_name='verb_verb_koondkorpus')

#### Removing pairs that are not connected to others

In [3]:
first = list(dict.fromkeys([entry[0] for entry in entries]))
second = list(dict.fromkeys([entry[2] for entry in entries]))

In [4]:
connected = connected_entries(entries, first, second)

In [5]:
final_first = list(dict.fromkeys([entry[0] for entry in connected]))
final_second = list(dict.fromkeys([entry[2] for entry in connected]))

### Creating the matrix used for LDA

In [6]:
df = matrix_creation(connected, final_first, final_second)

In [7]:
df.head()

,olema,ei,saama,hakkama,tegema,pidama,võima,teadma,ütlema,võtma,...,chillima,tartuma,irnuma,indutseerima,kategoriseerima,lohkuda-eemaldama,portima,pingima,shellima,kumuleeruma
olema,88780,77968,15838,3867,15221,13144,8397,3830,11929,8215,...,0,0,0,0,0,0,0,0,0,0
saama,74807,83182,9155,30256,6187,20701,21872,20913,7636,3278,...,0,0,0,0,0,0,0,0,0,0
teadma,43634,82992,10185,2588,7105,7853,2385,3279,6165,2192,...,0,0,0,0,0,0,0,0,0,0
tegema,78994,54148,36424,2563,7191,24594,19587,2347,8139,3996,...,0,3,0,0,0,0,3,3,0,0
tahtma,13467,62078,16501,3450,14238,1929,667,8170,13738,5335,...,0,0,0,0,0,0,0,0,0,0