In [1]:
from cda_data_cleaning.fact_extraction.procedure_splitting.development.taggers.pricecode_tagger import PriceTagger
from cda_data_cleaning.fact_extraction.procedure_splitting.development.taggers.study_tagger import StudyTagger
from cda_data_cleaning.fact_extraction.procedure_splitting.development.taggers.study_text_tagger import StudyTextTagger

In [2]:
from estnltk import Text

In [3]:
text = Text('Teostatud uuring:\nKopsud, mediastiinum, süda, rindkere, lülisamba rinnaosa, ülakõht kontrastainega 7978; 7979 x 5\n\nHinnakoodid:\n7978, 7979 x 5, 7997 x 7')

In [4]:
price_tagger = PriceTagger()
study_tagger = StudyTagger()
study_text_tagger = StudyTextTagger()

In [5]:
price_tagger.tag(text)

Text(text='Teostatud uuring:\nKopsud, mediastiinum, süda, rindkere, lülisamba rinnaosa, ülakõht kontrastainega 7978; 7979 x 5\n\nHinnakoodid:\n7978, 7979 x 5, 7997 x 7')

In [6]:
study_tagger.tag(text)

Text(text='Teostatud uuring:\nKopsud, mediastiinum, süda, rindkere, lülisamba rinnaosa, ülakõht kontrastainega 7978; 7979 x 5\n\nHinnakoodid:\n7978, 7979 x 5, 7997 x 7')

In [7]:
study_text_tagger.tag(text)

Text(text='Teostatud uuring:\nKopsud, mediastiinum, süda, rindkere, lülisamba rinnaosa, ülakõht kontrastainega 7978; 7979 x 5\n\nHinnakoodid:\n7978, 7979 x 5, 7997 x 7')

In [8]:
text.study_text

Layer(name='study_text', attributes=('STUDY_HEADER',), spans=SL[Span(start=18, end=115, text='Kopsud, mediastiinum, süda, rindkere, lülisamba rinnaosa, ülakõht kontrastainega 7978; 7979 x 5\n\n')])