In [1]:
from estnltk import Text

In [2]:
pwd

'/home/dage/Desktop/cda-data-cleaning/cda_data_cleaning/event_extraction/developement'

In [3]:
cd ..

/home/dage/Desktop/cda-data-cleaning/cda_data_cleaning/event_extraction

In [2]:
from taggers.event_token_tagger import EventTokenTagger

In [5]:
event_token_tagger = EventTokenTagger(output_layer = 'event_tokens')

In [19]:
a = '''07.01.2011 08:19 - <ANONYM id="0" type="per" morph="_H_ sg g,_H_ pl g"/>, <ANONYM id="1" type="per" morph="_H_ sg n"/> - D03659 - E170 - kardioloogia a
kaebused oktoobrist alates ebamääraseid valusid südame piirkonnas , käimisel hingeldus, jalgadel turseid ei ole,  kerged subfebriilsed temperatuurid, mida on kirjeldatud ka 2008a  dokumentides.'''

In [7]:
b = '''07.01.2011 08:19 - METS, MARI - D03659 - E170 - kardioloogia 
kaebused oktoobrist alates ebamääraseid valusid südame piirkonnas , käimisel hingeldus, jalgadel turseid ei ole,  kerged subfebriilsed temperatuurid, mida on kirjeldatud ka 2008a  dokumentides.'''

In [8]:
c = '07.01.2011 08:19 Kokkuvõte: blablaa'

In [9]:
d = '07.01.2011 08:19 - <ANONYM id="0" type="per" morph="_H_ sg g,_H_ pl g"/>, <ANONYM id="1" type="per" morph="_H_ sg n"/>'

In [10]:
from estnltk import Text

In [20]:
ex1 = Text(a)

In [21]:
event_token_tagger.tag(ex1)

Text(text='07.01.2011 08:19 - <ANONYM id="0" type="per" morph="_H_ sg g,_H_ pl g"/>, <ANONYM id="1" type="per" morph="_H_ sg n"/> - D03659 - E170 - kardioloogia a\nkaebused oktoobrist alates ebamääraseid valusid südame piirkonnas , käimisel hingeldus, jalgadel turseid ei ole,  kerged subfebriilsed temperatuurid, mida on kirjeldatud ka 2008a  dokumentides.')

In [22]:
from taggers.event_tagger2 import EventTagger
event_tagger = EventTagger()

In [23]:
event_tagger.tag(ex1)

Text(text='07.01.2011 08:19 - <ANONYM id="0" type="per" morph="_H_ sg g,_H_ pl g"/>, <ANONYM id="1" type="per" morph="_H_ sg n"/> - D03659 - E170 - kardioloogia a\nkaebused oktoobrist alates ebamääraseid valusid südame piirkonnas , käimisel hingeldus, jalgadel turseid ei ole,  kerged subfebriilsed temperatuurid, mida on kirjeldatud ka 2008a  dokumentides.')

In [15]:
ex1.event_tokens

Layer(name='event_tokens', attributes=('grammar_symbol', 'unit_type', 'value', 'specialty_code', 'specialty', 'regex_type'), spans=SL[AS(start=0, end=16, text:'07.01.2011 08:19'),
AS(start=19, end=72, text:'<ANONYM id="0" type="per" morph="_H_ sg g,_H_ pl g"/>'),
AS(start=74, end=118, text:'<ANONYM id="1" type="per" morph="_H_ sg n"/>'),
AS(start=121, end=127, text:'D03659'),
AS(start=130, end=151, text:'E170 - kardioloogia \n'),
AS(start=151, end=227, text:'kaebused oktoobrist alates ebamääraseid valusid südame piirkonnas , käimisel'),
AS(start=228, end=247, text:'hingeldus, jalgadel'),
AS(start=248, end=285, text:'turseid ei ole,  kerged subfebriilsed'),
AS(start=286, end=305, text:'temperatuurid, mida'),
AS(start=306, end=343, text:'on kirjeldatud ka 2008a  dokumentides')])

In [24]:
ex1.events

Layer(name='events', attributes=('DATE', 'HEADERWORD', 'DOCTOR', 'DOCTOR_CODE', 'SPECIALTY', 'SPECIALTY_CODE', 'ANONYM'), spans=SL[AS(start=0, end=118, text:['07.01.2011 08:19', '<ANONYM id="0" type="per" morph="_H_ sg g,_H_ pl g"/>', '<ANONYM id="1" type="per" morph="_H_ sg n"/>'])])

In [17]:
ex2 = Text(b)

In [18]:
event_token_tagger.tag(ex2)

Text(text='07.01.2011 08:19 - METS, MARI - D03659 - E170 - kardioloogia \nkaebused oktoobrist alates ebamääraseid valusid südame piirkonnas , käimisel hingeldus, jalgadel turseid ei ole,  kerged subfebriilsed temperatuurid, mida on kirjeldatud ka 2008a  dokumentides.')

In [19]:
event_tagger.tag(ex2)

Text(text='07.01.2011 08:19 - METS, MARI - D03659 - E170 - kardioloogia \nkaebused oktoobrist alates ebamääraseid valusid südame piirkonnas , käimisel hingeldus, jalgadel turseid ei ole,  kerged subfebriilsed temperatuurid, mida on kirjeldatud ka 2008a  dokumentides.')

In [20]:
ex2.event_tokens

Layer(name='event_tokens', attributes=('grammar_symbol', 'unit_type', 'value', 'specialty_code', 'specialty', 'regex_type'), spans=SL[AS(start=0, end=16, text:'07.01.2011 08:19'),
AS(start=19, end=29, text:'METS, MARI'),
AS(start=32, end=38, text:'D03659'),
AS(start=41, end=61, text:'E170 - kardioloogia '),
AS(start=62, end=138, text:'kaebused oktoobrist alates ebamääraseid valusid südame piirkonnas , käimisel'),
AS(start=139, end=158, text:'hingeldus, jalgadel'),
AS(start=159, end=196, text:'turseid ei ole,  kerged subfebriilsed'),
AS(start=197, end=216, text:'temperatuurid, mida'),
AS(start=217, end=254, text:'on kirjeldatud ka 2008a  dokumentides')])

In [21]:
ex2.events

Layer(name='events', attributes=('DATE', 'HEADERWORD', 'DOCTOR', 'DOCTOR_CODE', 'SPECIALTY', 'SPECIALTY_CODE', 'ANONYM'), spans=SL[AS(start=0, end=61, text:['07.01.2011 08:19', 'METS, MARI', 'D03659', 'E170 - kardioloogia '])])

In [22]:
ex3 = Text(c)

In [23]:
event_token_tagger.tag(ex3)

Text(text='07.01.2011 08:19 Kokkuvõte: blablaa')

In [24]:
event_tagger.tag(ex3)

Text(text='07.01.2011 08:19 Kokkuvõte: blablaa')

In [25]:
ex3.events

Layer(name='events', attributes=('DATE', 'HEADERWORD', 'DOCTOR', 'DOCTOR_CODE', 'SPECIALTY', 'SPECIALTY_CODE', 'ANONYM'), spans=SL[AS(start=0, end=27, text:['07.01.2011 08:19', 'Kokkuvõte:'])])

In [26]:
ex4 = Text(d)

In [27]:
event_token_tagger.tag(ex4)

Text(text='07.01.2011 08:19 - <ANONYM id="0" type="per" morph="_H_ sg g,_H_ pl g"/>, <ANONYM id="1" type="per" morph="_H_ sg n"/>')

In [28]:
event_tagger.tag(ex4)

Text(text='07.01.2011 08:19 - <ANONYM id="0" type="per" morph="_H_ sg g,_H_ pl g"/>, <ANONYM id="1" type="per" morph="_H_ sg n"/>')

In [29]:
from taggers.event_tagger2 import EventTagger

Layer(name='events', attributes=('DATE', 'HEADERWORD', 'DOCTOR', 'DOCTOR_CODE', 'SPECIALTY', 'SPECIALTY_CODE', 'ANONYM'), spans=SL[AS(start=0, end=118, text:['07.01.2011 08:19', '<ANONYM id="0" type="per" morph="_H_ sg g,_H_ pl g"/>', '<ANONYM id="1" type="per" morph="_H_ sg n"/>'])])

In [3]:
import csv
import sys
csv.field_size_limit(sys.maxsize)

texts = []
with open("developement/example_texts.csv", "r") as fin:
    reader = csv.reader(fin)
    for row in reader:
        texts.append(row)

FileNotFoundError: [Errno 2] No such file or directory: 'developement/example_texts.csv'

In [30]:
text_ids_and_counts = {}
tagged = []
for text in texts:
    t = Text(text[6])
    event_token_tagger.tag(t)
    event_tagger.tag(t)
    tagged.append(t)
    text_ids_and_counts[text[0]] = len(t.events)

In [32]:
from collections import Counter
event_counts = Counter()
events = []
with open("developement/example_events.csv", "r") as fin:
    reader = csv.reader(fin)
    for row in reader:
        events.append(row)
        event_counts[row[1]] += 1

In [33]:
diff = []
for id_, count in event_counts.items():
    if count != text_ids_and_counts[id_]:
        if text_ids_and_counts[id_] == 1 and count == 0:
            pass
        elif text_ids_and_counts[id_] == 0 and count == 1:
            pass
        else:
            diff.append(id_)

In [36]:
len(set(diff))

226

In [35]:
diff

['1518585',
 '1473074',
 '31993',
 '335166',
 '1434384',
 '51233',
 '28894',
 '639931',
 '815641',
 '1444253',
 '325687',
 '300992',
 '1391246',
 '327730',
 '813383',
 '1645246',
 '815650',
 '1408796',
 '9635',
 '48428',
 '615846',
 '288636',
 '644826',
 '753977',
 '304919',
 '1381525',
 '1435848',
 '320566',
 '812723',
 '308897',
 '1386761',
 '1435734',
 '612479',
 '537955',
 '1432570',
 '748773',
 '1433512',
 '1433879',
 '52313',
 '1444659',
 '998668',
 '55158',
 '264205',
 '45562',
 '539582',
 '1496976',
 '333475',
 '815460',
 '815553',
 '53890',
 '1444335',
 '747320',
 '337325',
 '618086',
 '541582',
 '815616',
 '43449',
 '1433148',
 '763201',
 '1013710',
 '641527',
 '1428915',
 '532383',
 '549119',
 '334846',
 '1054519',
 '1412072',
 '812473',
 '1408879',
 '309440',
 '748944',
 '1053543',
 '26869',
 '612517',
 '1434656',
 '1426092',
 '44660',
 '324741',
 '814985',
 '42118',
 '536011',
 '1021944',
 '1444656',
 '1400721',
 '1056173',
 '288420',
 '1002378',
 '749779',
 '539860',
 '760653',
 '537177',
 '608978',
 '1434665',
 '752731',
 '815501',
 '1038370',
 '1431147',
 '1644052',
 '1444487',
 '56653',
 '1433991',
 '4013',
 '1406132',
 '1427196',
 '283578',
 '1411851',
 '758907',
 '536242',
 '815537',
 '4012',
 '7720',
 '287951',
 '1433292',
 '1007142',
 '1444324',
 '812059',
 '336009',
 '1434974',
 '558901',
 '618520',
 '54663',
 '1424211',
 '1433703',
 '1425094',
 '1444484',
 '1444610',
 '33531',
 '1444194',
 '1435376',
 '750508',
 '1412811',
 '1432969',
 '1652360',
 '814047',
 '303537',
 '636177',
 '43185',
 '1392304',
 '1444585',
 '334996',
 '1436053',
 '44441',
 '761733',
 '1411304',
 '1434660',
 '559689',
 '283768',
 '615355',
 '557663',
 '1027643',
 '986691',
 '323160',
 '615498',
 '1653344',
 '556058',
 '552998',
 '1653578',
 '1380747',
 '1050946',
 '337386',
 '812447',
 '1003142',
 '1010652',
 '44595',
 '1444635',
 '323708',
 '284355',
 '1435485',
 '338658',
 '49974',
 '1045324',
 '1444602',
 '1435086',
 '1518109',
 '622707',
 '1444587',
 '43252',
 '812691',
 '638632',
 '1412259',
 '1002566',
 '1432567',
 '37046',
 '812399',
 '813856',
 '747986',
 '536696',
 '1645245',
 '1444613',
 '811887',
 '618396',
 '1444511',
 '1432358',
 '555623',
 '815620',
 '292057',
 '1006680',
 '556933',
 '1433593',
 '1041321',
 '1428971',
 '756997',
 '1444622',
 '1653343',
 '558596',
 '258258',
 '1496975',
 '1410696',
 '331212',
 '613007',
 '815532',
 '1046296',
 '52996',
 '815113',
 '279760',
 '1434086',
 '14134',
 '52654',
 '1007348',
 '541490',
 '336377',
 '760417',
 '1048675',
 '1444596',
 '748818',
 '539506']

In [37]:
event_counts['1518585']

2

In [38]:
text_ids_and_counts['1518585']

0

In [39]:
for i in texts:
    if i[0] == '1518585':
        print(i[6])

<ANONYM id="1" type="per" morph="_S_ sg ad"/>, <ANONYM id="2" type="per" morph="_H_ sg n"/>:
													Normi piirides.

In [40]:
for i in events:
    if i[1] == '1518585':
        print(i[13])
        print('--')

PER, PER:
													Normi piirides.
--
PER, PER:
													Normi piirides.
--

In [41]:
text_texts = []
for row in texts:
    text_texts.append(row[6])
    
dates = []
for i in events:
    dates.append(i[12])   
    
event_texts = []
for i in events:
    event_texts.append(i[13])   
    
    
    
found = []
not_found = []
too_many_found = []
for date in dates:
    if len(date) > 0:
        t = Text(date)
        event_token_tagger.tag(t)
        event_tagger.tag(t)
        if len(t.events) == 0:
            found.append(t)
        elif len(t.events) == 1:
            found.append(t)
        else:
            too_many_found.append(t)

IndentationError: expected an indented block (<ipython-input-55-dbca245bde13>, line 6)

In [56]:
found = []
not_found = []
too_many_found = []
for ev in event_texts:
    if len(ev) > 0:
        t = Text(ev)
        event_token_tagger.tag(t)
        event_tagger.tag(t)
        if len(t.events) == 0:
            found.append(t)
        elif len(t.events) == 1:
            found.append(t)
        else:
            too_many_found.append(t)

In [57]:
len(found)

5298

In [58]:
len(not_found)

0

In [59]:
len(too_many_found)

10

In [60]:
too_many_found[0]

Text(text='\n18.10.2012 10:21 - MATJUS, SVETLANA - D01463 - E120 - endokrinoloogia \nSuunab cito perearst subakuutse türeoidiidi kahtlusel. \n13.okt. patsient märganud vasemal pool kaelal moodustist. Kaebusteks ebamugavus kaela piirkonnas, peavalud, väsimus. Eilsest subfebriilne palavik. \nKaasuvaid haigusi ei ole. Pärilikkus : ei tea. \nM- regulaarne. Ravimeid ei tarvita. \nObj. Kilpnääre II, vas. palpeeritav suur valulik moodustis 4 -5 cm - tsüst? \nNahk soe, niiske. Silmad - ii. \nRR 108/70 mmHg, fr 86 x min \nUuringud : kilpn. UH, biopsia vas. sagarast, TSH, FT4, TPO, CT, PTH, Ca, kl. veri, SR, CRV - subakuutne türeoidiit ?  \nKiiresti tekkinud tsüst?  ')

In [62]:
too_many_found[0].event_tokens

Layer(name='event_tokens', attributes=('grammar_symbol', 'unit_type', 'value', 'specialty_code', 'specialty', 'regex_type'), spans=SL[AS(start=0, end=17, text:'\n18.10.2012 10:21'),
AS(start=18, end=72, text:'- MATJUS, SVETLANA - D01463 - E120 - endokrinoloogia \n'),
AS(start=20, end=36, text:'MATJUS, SVETLANA'),
AS(start=39, end=45, text:'D01463'),
AS(start=48, end=72, text:'E120 - endokrinoloogia \n'),
AS(start=72, end=213, text:'Suunab cito perearst subakuutse türeoidiidi kahtlusel. \n13.okt. patsient märganud vasemal pool kaelal moodustist. Kaebusteks ebamugavus kaela'),
AS(start=214, end=234, text:'piirkonnas, peavalud'),
AS(start=236, end=375, text:'väsimus. Eilsest subfebriilne palavik. \nKaasuvaid haigusi ei ole. Pärilikkus : ei tea. \nM- regulaarne. Ravimeid ei tarvita. \nObj. Kilpnääre'),
AS(start=376, end=383, text:'II, vas'),
AS(start=385, end=442, text:'palpeeritav suur valulik moodustis 4 -5 cm - tsüst? \nNahk'),
AS(start=443, end=454, text:'soe, niiske'),
AS(start=456, end=479, text:'Silmad - ii. \nRR 108/70'),
AS(start=480, end=488, text:'mmHg, fr'),
AS(start=489, end=515, text:'86 x min \nUuringud : kilpn'),
AS(start=517, end=528, text:'UH, biopsia'),
AS(start=529, end=532, text:'vas'),
AS(start=534, end=547, text:'sagarast, TSH'),
AS(start=549, end=552, text:'FT4'),
AS(start=554, end=561, text:'TPO, CT'),
AS(start=563, end=570, text:'PTH, Ca'),
AS(start=572, end=574, text:'kl'),
AS(start=576, end=584, text:'veri, SR'),
AS(start=586, end=642, text:'CRV - subakuutne türeoidiit ?  \nKiiresti tekkinud tsüst?')])

In [61]:
too_many_found[0].events

Layer(name='events', attributes=('DATE', 'HEADERWORD', 'DOCTOR', 'DOCTOR_CODE', 'SPECIALTY', 'SPECIALTY_CODE', 'ANONYM'), spans=SL[AS(start=0, end=72, text:['\n18.10.2012 10:21', '- MATJUS, SVETLANA - D01463 - E120 - endokrinoloogia \n']),
AS(start=0, end=72, text:['\n18.10.2012 10:21', 'MATJUS, SVETLANA', 'D01463', 'E120 - endokrinoloogia \n'])])

In [51]:
for i in found[1:10]:
    print(i.text)
    print()
    print(i.events)
    #break

                  24.05.2011 09:00

Layer(name='events', attributes=('DATE', 'HEADERWORD', 'DOCTOR', 'DOCTOR_CODE', 'SPECIALTY', 'SPECIALTY_CODE', 'ANONYM'), spans=SL[AS(start=0, end=35, text:['\n                  24.05.2011\xa009:00'])])


                  07.06.2011 11:58

Layer(name='events', attributes=('DATE', 'HEADERWORD', 'DOCTOR', 'DOCTOR_CODE', 'SPECIALTY', 'SPECIALTY_CODE', 'ANONYM'), spans=SL[AS(start=0, end=55, text:['\n                   \n                  07.06.2011\xa011:58'])])


                  21.06.2011 10:20

Layer(name='events', attributes=('DATE', 'HEADERWORD', 'DOCTOR', 'DOCTOR_CODE', 'SPECIALTY', 'SPECIALTY_CODE', 'ANONYM'), spans=SL[AS(start=0, end=55, text:['\n                   \n                  21.06.2011\xa010:20'])])
20.01.2012

Layer(name='events', attributes=('DATE', 'HEADERWORD', 'DOCTOR', 'DOCTOR_CODE', 'SPECIALTY', 'SPECIALTY_CODE', 'ANONYM'), spans=SL[AS(start=0, end=11, text:['20.01.2012 '])])

30.04.2014

Layer(name='events', attributes=('DATE', 'HEADERWORD', 'DOCTOR', 'DOCTOR_CODE', 'SPECIALTY', 'SPECIALTY_CODE', 'ANONYM'), spans=SL[AS(start=0, end=12, text:['\n30.04.2014 '])])

30.04.2014

Layer(name='events', attributes=('DATE', 'HEADERWORD', 'DOCTOR', 'DOCTOR_CODE', 'SPECIALTY', 'SPECIALTY_CODE', 'ANONYM'), spans=SL[AS(start=0, end=12, text:['\n30.04.2014 '])])

30.04.2014

Layer(name='events', attributes=('DATE', 'HEADERWORD', 'DOCTOR', 'DOCTOR_CODE', 'SPECIALTY', 'SPECIALTY_CODE', 'ANONYM'), spans=SL[AS(start=0, end=12, text:['\n30.04.2014 '])])

30.04.2014

Layer(name='events', attributes=('DATE', 'HEADERWORD', 'DOCTOR', 'DOCTOR_CODE', 'SPECIALTY', 'SPECIALTY_CODE', 'ANONYM'), spans=SL[AS(start=0, end=12, text:['\n30.04.2014 '])])

30.04.2014

Layer(name='events', attributes=('DATE', 'HEADERWORD', 'DOCTOR', 'DOCTOR_CODE', 'SPECIALTY', 'SPECIALTY_CODE', 'ANONYM'), spans=SL[AS(start=0, end=12, text:['\n30.04.2014 '])])