In [1]:
from cda_data_cleaning.fact_extraction.measurement_extraction.taggers.measurement_token_tagger import MeasurementTokenTagger
from cda_data_cleaning.fact_extraction.measurement_extraction.taggers.measurement_tagger import MeasurementTagger

In [2]:
from estnltk import Text

from grammarextractor.taggers.legacy_taggers.legacy_regex_model_tagger import LegacyRegexModelTagger

In [3]:
old_tagger = LegacyRegexModelTagger(output_layer = 'measurements_old')

INFO:model.py:142: Loading model from ../../../../grammarextractor/grammarextractor/data_processing/measurement_extraction/tagger_dev/legacy_model/extraction_rules.txt

In [4]:
token_tagger = MeasurementTokenTagger(output_layer = 'measurement_tokens')
new_tagger = MeasurementTagger(output_layer = 'measurements_new')

In [5]:
lines = ['PSA 03042012 - 0,83ng/ml perearsti poolt .',
 'PSA 2010. 3ng/ml, PSA 2012. 1,53ng/ml . - Bx va',
 'PSA 20105,99 ja 26.01.2012 uuesti .',
 'PSA 2011 oli 0 , 4 nG7ml .',
 'PSA 201222,25ng/ml',
 'PSA 2 aastajooksuldünaamikata , eriuuring',
 ':psa 16,81! ! ! ! ! ,',
 'Happe-aluse tasakaal 6.0 ( 5.0 .. 8.0 )',
 'loli 25 mgx1 ja Monoprili 10 mg Kolesterool 2011a',
 'Kolesterool 1k aastas .',
 'Kõrgenenud kolesterool 2a ( mõõdetud ). Ei pea dieetist kinni',
 'Kontr Verekol 08.12a Per-le juurde .',
 's vas munajuha kasvaja op , günekol 3a tagssi .',
 '08.11.2010 PSA 13.12.2011 7,2ng/ml PSADT on väike .',
 'Rütmihäire tsüklipikkus 330 msek',
 'Loote pikkus : \xa0 3 mm - vastab\xa0 5 nädalat 6 päeva.',
 'Põhjendus: PALAT 10 # ALAT maksanäitaja',
 'ärme vähk 2007 aastast cT3N0M0PSA 59ng/ml .',
 'PSA 8,5( püsib aastaid selles väärtus',
 'S,P-PSA 4.130( <4.100 µg/L )',
 'PSA 5,2.',
 'Kolesterool oli 7,9 mmol/l 0',
 'kolesterool 6.4.',
 'Kolesterool 5,2 mmol/l - esialgu dieet .',
 'SK 3900 g , SP 51 cm .',
 'Lapse kaal 5,4 kg/82 mg/0,82 ml i/m .',
 'Kehakaal 80,2 kg , KMI 25,9',
 'S,P-NT-proBNP 668 ( <125 pg/mL ) S,P-Albumiin 43 ( 35 .. 52 g/L ) S,P-ALAT 25 ( <33 U/L )',
 'PSA 6,5 ng/ml, eesnäärme maht67cm3',
 'rjeldus : Siinusbradükardia Fr 587min']

In [6]:
tagged_lines = []
for line in lines:
    t = Text(line)
    old_tagger.tag(t)
    token_tagger.tag(t)
    new_tagger.tag(t)
    tagged_lines.append(t)

In [7]:
tagged_lines[17]

Text(text='ärme vähk 2007 aastast cT3N0M0PSA 59ng/ml .')

In [8]:
tagged_lines[17].measurements_new

Layer(name='measurements_new', attributes=('name', 'OBJECT', 'VALUE', 'UNIT', 'MIN', 'MAX', 'DATE', 'REGEX_TYPE'), spans=SL[])

In [9]:
tagged_lines[17].measurements_old

Layer(name='measurements_old', attributes=('name', 'key', 'value', 'unit', 'low', 'high', 'systolic', 'diastolic', 'pulse', 'year', 'month', 'day', 'hour', 'minute', 'prygi', 'subject'), spans=SL[AS(start=10, end=20, text:'2007 aasta'),
AS(start=30, end=41, text:'PSA 59ng/ml')])

In [10]:
import pickle

In [11]:
pickle.dump(tagged_lines, open("texts_with_2_layers.pickle", "wb"))