In [1]:
from taggers.measurement_tagger import MeasurementTagger
from taggers.measurement_token_tagger import MeasurementTokenTagger
from taggers.measurement_object_tagger.measurement_object_tagger import MeasurementObjectTagger
from estnltk import Text

In [2]:
token_tagger = MeasurementTokenTagger(output_layer = "measurement_tokens")
tagger = MeasurementTagger()

In [3]:
texts = ['n pikkus 120 ml xxxd',
         'n pikkus 120 cm xxxd',
         'n kaal 120 ml xxxd',
         'n kaal 120 kg xxxd',
         'n vererõhk 120 ml xxxd',
        ]

In [4]:
tagged_texts = []
for text in texts:
    t = Text(text)
    token_tagger.tag(t)
    tagger.tag(t)
    tagged_texts.append(t)

In [5]:
tagged_texts[0].measurements

Layer(name='measurements', attributes=('name', 'OBJECT', 'VALUE', 'UNIT', 'MIN', 'MAX', 'DATE', 'REGEX_TYPE'), spans=SL[])

In [6]:
tagged_texts[1].measurements

Layer(name='measurements', attributes=('name', 'OBJECT', 'VALUE', 'UNIT', 'MIN', 'MAX', 'DATE', 'REGEX_TYPE'), spans=SL[AS(start=2, end=15, text:'pikkus 120 cm')])

In [7]:
tagged_texts[2].measurements

Layer(name='measurements', attributes=('name', 'OBJECT', 'VALUE', 'UNIT', 'MIN', 'MAX', 'DATE', 'REGEX_TYPE'), spans=SL[])

In [8]:
tagged_texts[3].measurements

Layer(name='measurements', attributes=('name', 'OBJECT', 'VALUE', 'UNIT', 'MIN', 'MAX', 'DATE', 'REGEX_TYPE'), spans=SL[AS(start=2, end=13, text:'kaal 120 kg')])

In [9]:
tagged_texts[4].measurements

Layer(name='measurements', attributes=('name', 'OBJECT', 'VALUE', 'UNIT', 'MIN', 'MAX', 'DATE', 'REGEX_TYPE'), spans=SL[AS(start=2, end=17, text:'vererõhk 120 ml')])

In [10]:
# miks asjad paistavad stringidena, aga osad neist on stringid ja teised ühe-elemendilised listid?
# ma pean suutma ette kujutada, milliseid tokeneid grammatika tahab kokku ühendada...
# qnumber paneb külge mingid atribuudid, millel validaator peab põhinema, aga ma ei suuda ette kujutada, mis need on