## Curation

Curation is the step that filters the lists of entities to pick out those that we want to use for creating the rulesets. Not all found entities are good quality and sometimes we are interested in just some specific types. Here are some examples of how to work with the long entity lists.

We can work with the full data by reading in the csv.

In [2]:
import pandas as pd

data = pd.read_csv('ner_counts.csv')

In [3]:
data

      Unnamed: 0                            entity label  count
0              0                  ('Ühendriigid',)   LOC      1
1              1                     ('Leedusse',)   LOC      1
2              2   ('Leedu', 'välisministeeriumi')   ORG      1
3              3                  ('Interfaxile',)   ORG      1
4              4               ('Bill', 'Clinton')   PER      2
...          ...                               ...   ...    ...
4126        4126      ('Külli', 'Hansen', 'Sebra')   PER      1
4127        4127                        ('Fancy',)   LOC      1
4128        4128             ('Fun', '&', 'Fancy')   ORG      4
4129        4129  ('Hinnad', 'Sebra', 'galeriist')   ORG      1
4130        4130            ('Krista', 'Kivisalu')   PER      1

[4131 rows x 4 columns]

However, it might be more practical to use the lists of first words, last words and singletons created in the previous step.

In [5]:
first_words = pd.read_csv('data/first_counts.csv')

In [7]:
last_words = pd.read_csv('data/last_counts.csv')

In [8]:
single_words = pd.read_csv('data/single_counts.csv')

As an example, let's create a ruleset based on 50 most popular LOC last words

In [14]:
last_words = last_words.sort_values('LOC',ascending=False)
last_words

      Unnamed: 0   ORG  PER   LOC
3          Liidu  15.0  0.0  18.0
1776       linna   0.0  0.0   7.0
1786        riik   0.0  0.0   6.0
1773    riikides   0.0  0.0   4.0
70        Liidus   2.0  0.0   4.0
...          ...   ...  ...   ...
1668  Annabelile   0.0  1.0   0.0
1719       Veski   0.0  1.0   0.0
1721       Aarma   0.0  1.0   0.0
1749    Kõrtsini   0.0  1.0   0.0
920      Laraque   0.0  1.0   0.0

[1840 rows x 4 columns]

In [17]:
last_words.rename( columns={'Unnamed: 0':'Entity'}, inplace=True )

In [45]:
word_list = last_words['Entity'][:50]
word_list

3                Liidu
1776             linna
1786              riik
1773          riikides
70              Liidus
1835              meri
1833         osariigis
1817              mere
69                Liit
1834              jõgi
1771           Araabia
1810               jõe
1782         Kesklinna
1790      Ühendriikide
1781              lahe
1783              linn
1808             riigi
91              Yorgis
1804             külas
1809            vallas
1793            Jersey
1774             Leedu
1814           Liiduga
1797             külla
1799             Citys
324            Erakond
1801         maakonnas
1824             Kenya
1820           Aafrika
1837         Tammsaare
1822           riikide
1823             Diego
1826     Beltsville'is
1825         Bethesdas
1819        Vabariigis
1827          osariigi
1828           riigile
1829         Tõnismäel
1805              NSVs
1798           16 0 16
1802            riigis
1803           Kaunase
1807    Lelle-Viljandi
1811     Föderatsiooni
1812           linnaga
1813             Asula
1815         poolsaare
1816           ookeani
1818             merel
1800         Lissaboni
Name: Entity, dtype: object

Rulesets can be easily created from CSV files with the load() function. Note that the first row of the CSV file is for column names and the second row is for column types. The following rows contain the values which will be turned into rules. It does not work with an index column so that must be set to false.

In [46]:
word_list = pd.concat([pd.Series(['string']), word_list])

In [47]:
pd.DataFrame(word_list).to_csv('top_50.csv',index=False)

In [48]:
from estnltk.taggers.system.rule_taggers import Ruleset
ruleset = Ruleset()
ruleset.load('top_50.csv')

In [49]:
ruleset.static_rules

[StaticExtractionRule(pattern='Liidu', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='linna', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='riik', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='riikides', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='Liidus', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='meri', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='osariigis', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='mere', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='Liit', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='jõgi', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='Araabia', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='jõe', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='Kesklinna', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='Ühendriikide', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='lahe', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='linn', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='riigi', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='Yorgis', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='külas', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='vallas', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='Jersey', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='Leedu', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='Liiduga', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='külla', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='Citys', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='Erakond', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='maakonnas', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='Kenya', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='Aafrika', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='Tammsaare', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='riikide', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='Diego', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern="Beltsville'is", attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='Bethesdas', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='Vabariigis', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='osariigi', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='riigile', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='Tõnismäel', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='NSVs', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='16 0 16', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='riigis', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='Kaunase', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='Lelle-Viljandi', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='Föderatsiooni', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='linnaga', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='Asula', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='poolsaare', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='ookeani', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='merel', attributes={}, group=0, priority=0),
 StaticExtractionRule(pattern='Lissaboni', attributes={}, group=0, priority=0)]